doctype htmlscript
html(ng-app='loc8rApp')
  head
    meta(name='viewport', content='width-device=width, initial-scale=1.0')
    base(href='/')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href='/')= title
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            #navbar-main.navbar-collapse.collapse  
                ul.nav.navbar-nav
                    li
                        a(href='/about/') About
    .container
        div(ng-view)
        block content
        footer
            .row
                .col-xs-12
                    small &copy; Somin Holmes 2014
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js')
    script(src='/angular/loc8r.min.js')
    //script(src='/angular-modules/app.js')
    //script(src='/angular-modules/home/home.controller.js')
    //script(src='/angular-modules/common/services/loc8rData.service.js')
    //script(src='/angular-modules/common/services/geolocation.service.js')
    //script(src='/angular-modules/common/directive/ratingStars/ratingStars.directive.js')
    //script(src='/angular-modules/common/filters/formatDistance.filter.js')
    script(src='/javascripts/jquery-3.1.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/validation.js')
    